* {
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #13131c;
  color: white;
  font-size: 20px;
  line-height: 30px;
}

#cabecalho {
  align-items: center;
  background-color: #23232e;
  display: flex;
  height: 95px;
  letter-spacing: 2px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

#cabecalho h1 {
  font-style: italic;
  margin: 0 auto;
}

#foto {
  margin-top: 150px;
  text-align: center;
}

#minha_foto {
  border: 10px solid #23232e;
  border-radius: 50px;
  width: 230px;
}

#listas {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto 0;
  width: 70%;
}

#listas li {
  margin: 15px 0 0 50px;
}

#licoes_aprendidas, #licoes_a_aprender {
  background-color: #23232e;
  border-radius: 50px;
  padding: 40px 50px;
}

#artigo {
  margin: 50px auto 0;
}

#artigo h2 {
  text-align: center;
}

#artigo div {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.lado-esquerdo {
  width: 50%;
}

.lado-direito {
  background-color: #23232e;
  border-radius: 50px;
  font-weight: 500;
  padding: 20px 40px;
  width: 300px;
}

#desenvolvimento-web {
  margin-top: 50px;
  text-align: center;
}

#table {
  width: 25%;
  height: 300px;
  margin: 30px auto 0;
}

#table td {
  border: 10px solid #23232e;
  border-radius: 50px;
}

#rodape {
  align-items: center;
  background-color: #23232e;
  bottom: -1;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 20px 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

#icones {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  width: 250px;
}

#icones img {
  transition: 0.8s;
  width: 50px;
}

#icones img:hover {
  opacity: 0.5;
  transform: rotate(360deg);
}

#rodape p {
  font-size: 15px;
  font-style: italic;
}
