body {
  /*Espaçamentos*/
  margin: 0;
  text-align: center;
  /*Cores e Estilos*/
  color: white;
  font-family: monospace, sans-serif;
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  /*Tamanhos*/
  width: 100%;
  height: 95px;
  /*Espaçamentos*/
  top: 0;
  position: fixed;
  /*Cores e Estilos*/
  background-color: rgb(83, 83, 83);
}

#cabecalho h1 {
  /*Espaçamentos*/
  margin: 30px;
  /*Cores e Estilos*/
  font-style: italic;
}

main {
  background-color: rgb(51, 51, 51);
}

#foto {
  /*Tamanhos*/
  height: 300px;
  /*Espaçamentos*/
  padding: 45px;
  margin-top: 95px;
}

#minha_foto {
  width: 225px;
  border-radius: 20%;
  border: 10px solid rgb(83, 83, 83);
}

#listas {
  font-size: 20px;
}

#listas li {
  padding: 2.5px;
}

#licoes_aprendidas {
  margin-left: 50px;
  text-align: justify;
  display: inline-block;
}

#licoes_a_aprender {
  text-align: justify;
  display: inline-block;
}

/*
#artigo {
  font-size: 22px;
  padding: 0 0 50px;
}
*/

.lado-esquerdo {
  width: 700px;
  font-size: 22px;
  margin-right: 50px;
  text-align: justify;
  display: inline-block;
}

.lado-direito {
  width: 350px;
  font-size: 22px;
  padding: 10px 40px;
  text-align: justify;
  margin-bottom: 50px;
  display: inline-block;
  font-weight: 500;
  border-radius: 20%;
  background-color: rgb(83, 83, 83);
}

#rodape {
  height: 200px;
  background-color: rgb(83, 83, 83);
}

#icones img {
  width: 70px;
  margin: 30px 20px 0 0;
}

#rodape p {
  width: 678px;
  font-size: 15px;
  padding: 15px;
  margin: 25px auto;
  font-weight: 900;
  font-style: italic;
}
