body {
  margin: 0;
  text-align: center;
  line-height: 30px;
  color: white;
  font-family: monospace, sans-serif;
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  width: 100%;
  height: 95px;
  top: 0;
  position: fixed;
  background-color: rgb(83, 83, 83);
}

#cabecalho h1 {
  margin: 30px;
  font-style: italic;
}

main {
  background-color: rgb(51, 51, 51);
}

#foto {
  height: 300px;
  padding: 45px;
  margin-top: 95px;
}

#minha_foto {
  width: 225px;
  border-radius: 20%;
  border: 10px solid rgb(83, 83, 83);
}

#listas {
  font-size: 20px;
}

#listas li {
  padding: 2.5px;
}

#licoes_aprendidas {
  margin-left: 50px;
  text-align: left;
  display: inline-block;
}

#licoes_a_aprender {
  text-align: left;
  display: inline-block;
}

/*
#artigo {
  height: 420px;
  font-size: 22px;
  padding: 10px;
}

.lado-esquerdo {
  width: 700px;
  text-align: left;
  margin-left: 300px;
  float: left;
}

.lado-direito {
  width: 350px;
  padding: 10px 40px;
  float: right;
  text-align: left;
  margin-right: 400px;
  font-weight: 500;
  border-radius: 20%;
  background-color: rgb(83, 83, 83);
}
*/

#artigo {
  font-size: 25px;
  padding: 0px 0 50px 0;
}

.lado-esquerdo {
  width: 700px;
  margin-right: 50px;
  text-align: justify;
  display: inline-block;
}

.lado-direito {
  width: 350px;
  padding: 10px 40px;
  text-align: justify;
  display: inline-block;
  border-radius: 20%;
  background-color: rgb(83, 83, 83);
}

#rodape {
  height: 200px;
  background-color: rgb(83, 83, 83);
}

#icones img {
  width: 70px;
  margin: 30px 20px 0 0;
}

#rodape p {
  width: 678px;
  font-size: 15px;
  margin: 20px auto;
  font-weight: 900;
  font-style: italic;
}

#table {
  width: 690px;
  height: 400px;
  margin: 0 auto;
  padding: 15px 0 50px;
}

#table td {
  background-color: rgb(51, 51, 51);
  border: 10px solid rgb(83, 83, 83);
}
